.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;

  margin: 4px 2px;
  cursor: pointer;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.smallbtn {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

.mediumbtn {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.semiroundeddbtn {
  border-radius: 25%;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

.button1 {
  background-color: #ffffff;
  border: 1px solid rgb(86, 86, 87);
  color: #555555;
}

.button2 {
  background-color: #008cba;
} /* Blue */
.button3 {
  background-color: #f44336;
} /* Red */
.button4 {
  background-color: #e7e7e7;
  color: black;
} /* Gray */
.button5 {
  background-color: #555555;
} /* Black */

.button6 {
  background-color: #fcf806;
} /* yellow */

.button7 {
  background-color: #9a0bd3;
} /* violet */
